/* form_style.css */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');

:root{
   --pink:#cfacacdb;
   --red:#3d4522e7;
   --orange:#cc9178e4;
   --black:#988478;
   --white:#fff;
   --light-color:#666;
   --light-white:#ccc;
   --light-bg:#f5f5f5;
   --border:.1rem solid rgba(31, 19, 19, 0.1);
   --box-shadow:0 .5rem 1rem rgba(31, 19, 19, 0.1);
}

*{
   font-family: 'Rubik', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition:all .2s linear;
}

*::selection{
   background-color: var(--pink);
   color:var(--white);
}

*::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--pink);
}

body{
    background: var(--light-bg);
 }
 
 html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6.5rem;
 }




.box {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-header {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.message {
    position: sticky;
    top: 0;
    margin: 0 auto;
    max-width: 1200px;
    background-color: var(--light-bg);
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 1.5rem;
    z-index: 10000;
    justify-content: space-between;
}

.message span {
    color: var(--black);
    font-size: 2rem;
}

.message i {
    font-size: 2.5rem;
    color: var(--red);
    cursor: pointer;
}

.message i:hover {
    transform: rotate(90deg);
}


.add-rooms-container {
    width: 30%;
   /*  margin: 0 auto;*/
    position: absolute;
    top: 26%;
   
    left : 5%;

    
}
.add-rooms-container select {
    width: 100%; /* Make the dropdown width 100% of its container */
    padding: 10px; /* Add padding to the dropdown for better spacing */
    border: 1px solid #ccc; /* Add a border to the dropdown */
    border-radius: 5px; /* Add border radius for rounded corners */
    box-sizing: border-box; /* Ensure padding and border are included in width */
    font-size: 16px; /* Adjust font size as needed */
}

/* Style the options within the dropdown */
.add-rooms-container select option {
    padding: 10px; /* Add padding to the options for better spacing */
    font-size: 16px; /* Adjust font size as needed */
}

.add-rooms-container textarea {
    width: 100%; /* Make the textarea width 100% of its container */
    padding: 10px; /* Add padding to the textarea for better spacing */
    border: 1px solid #ccc; /* Add a border to the textarea */
    border-radius: 5px; /* Add border radius for rounded corners */
    box-sizing: border-box; /* Ensure padding and border are included in width */
    font-size: 16px; /* Adjust font size as needed */
    resize: none; /* Make the textarea non-resizable */
}



/* edit form*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 9999; /* Ensure the overlay is on top of everything */
    display: none; /* Initially hidden */
}

.edit-room-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 10000; /* Ensure the edit form is on top of the overlay */
    display: none; /* Initially hidden */
}
.edit-room-container select {
    width: 100%; /* Make the dropdown width 100% of its container */
    padding: 10px; /* Add padding to the dropdown for better spacing */
    border: 1px solid #ccc; /* Add a border to the dropdown */
    border-radius: 5px; /* Add border radius for rounded corners */
    box-sizing: border-box; /* Ensure padding and border are included in width */
    font-size: 16px; /* Adjust font size as needed */
}

/* Style the options within the dropdown */
.edit-room-container select option {
    padding: 10px; /* Add padding to the options for better spacing */
    font-size: 16px; /* Adjust font size as needed */
}

.edit-room-container textarea {
    width: 100%; /* Make the textarea width 100% of its container */
    padding: 10px; /* Add padding to the textarea for better spacing */
    border: 1px solid #ccc; /* Add a border to the textarea */
    border-radius: 5px; /* Add border radius for rounded corners */
    box-sizing: border-box; /* Ensure padding and border are included in width */
    font-size: 16px; /* Adjust font size as needed */
    resize: none; /* Make the textarea non-resizable */
}





/* TABLEEEES*/



.floor-table {
    position: absolute;
    top: 20%;
    right: 10%;
    width: 50%; /* Adjust width as needed */
    margin-top: 20px; /* Add margin-top if needed */
}

.floor-table table {
    width: 100%;
    border-collapse: collapse;
}

.floor-table table, .floor-table th, .floor-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.floor-table th {
    background-color: #f2f2f2;
}
.floor-table h2{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;

}
.button {
    background-color:#cc9178e4;/* Default button background color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.existing-rooms-container .room-table {
    position: absolute;
    top: 20%;
    right: 0;
    width: 60%; /* Adjust width as needed */
    margin-top: 20px; /* Add margin-top if needed */
}

.existing-rooms-container .room-table table {
    width: 100%;
    border-collapse: collapse;
}

.room-table th:nth-child(1),
.room-table td:nth-child(1) {
    width: 10%; /* Adjust the width of the first column */
}

.room-table th:nth-child(2),
.room-table td:nth-child(2) {
    width: 50%; /* Adjust the width of the second column */
}

.room-table th:nth-child(3),
.room-table td:nth-child(3) {
    width: 50%; /* Adjust the width of the third column (Actions) */
}

.room-table th,
.room-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.room-table th {
    background-color: #f2f2f2;
}

.room-table h2 {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}


/*tenant*/


.button {
    background-color: #cc9178e4; /* Default button background color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #666;
}

.room-table button {
    display: inline-block; /* Display buttons inline */
    margin-right: 5px; /* Add a margin between buttons */
}

.add-floor-container {
    width: 30%;
   /*  margin: 0 auto;*/
    position: absolute;
    top: 27%;
   
    left : 5%;
   
}





.add-tenant-group{
     position :absolute;
    top: 20%;
    left: 10%;

}



.date-selector {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Adjust the positioning and size of the form container */
/* Adjust the positioning and size of the form container */
.form-container {
    width: 50%;
    max-width: 500px; /* Set a maximum width for the form container */
    position: absolute; /* Position the form container */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the form container */
    z-index: 999; /* Ensure the form appears above other elements */
}

/* Adjust the styling of the form */
.form-container .box {
    width: 100%;
    
    

}

/* Adjust the styling of form fields if needed */
.form-container input[type="text"],
.form-container select,
.form-container input[type="date"],
.form-container .button {
    width: calc(100% - 20px); /* Make form fields take up full width with some padding */
    margin-bottom: 10px; /* Add space between form fields */

}
.form-container .button {
    width: 80px; /* Set the width of the button */
    height: 30px; /* Set the height of the button */
    position: absolute; /* Position the button absolutely */
    bottom: 0; /* Align the button to the top */
    right: 10%; /* Align the button to the right */
    margin-bottom: 10px; /* Add space below the button */
    font-size: 10px; /* Adjust the font size of the button text */
}



.form-container .cancel-button {
    width: 80px; /* Set the width of the button */
    height: 30px; /* Set the height of the button */
    position: absolute; /* Position the button absolutely */
    bottom: 0; /* Align the button to the top */
    left: 10%; /* Align the button to the right */
    margin-bottom: 10px; /* Add space below the button */
    font-size: 10px; /* Adjust the font size of the button text */

    background-color: #cc9178e4; /* Default button background color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.form-container .cancel-button:hover {
    background-color: #666;
}





.existing-tenant-container .tenant-table {
    position: absolute;
    top: 20%;
    
    left: 50; /* Set both left and right to center the table horizontally */
    margin: 0 auto; /* Center the table horizontally */
    width: 60%; /* Adjust width as needed */
    transform: translateX(-50%);
    margin-top: 20px; /* Add margin-top if needed */
}

.existing-tenant-container .tenant-table table {
    width: 100%;
    border-collapse: collapse;
}

.tenant-table th:nth-child(1),
.room-table td:nth-child(1) {
    width: 5%; /* Adjust the width of the first column */
}

.tenant-table th:nth-child(2),
.tenant-table td:nth-child(2) {
    width: 20%; /* Adjust the width of the second column */
}

.tenant-table th:nth-child(3),
.tenant-table td:nth-child(3) {
    width: 10%; /* Adjust the width of the third column (Actions) */
}

.tenant-table th:nth-child(4),
.tenant-table td:nth-child(4) {
    width: 20%; /* Adjust the width of the third column (Actions) */
}

.tenant-table th:nth-child(5),
.tenant-table td:nth-child(5) {
    width: 10%; /* Adjust the width of the third column (Actions) */
}

.tenant-table th:nth-child(6),
.tenant-table td:nth-child(6) {
    width: 10%; /* Adjust the width of the third column (Actions) */
}


.tenant-table th:nth-child(7),
.tenant-table td:nth-child(7) {
    width: 30%; /* Adjust the width of the third column (Actions) */
}


.tenant-table th,
.tenant-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}


.tenant-table th {
    background-color: #f2f2f2;
}

.tenant-table h2 {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}